@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using EstoqueProdutos.Enums
@using EstoqueProdutos.Utils

@model List<VendaModel>;

@functions {
    private string FormaDePagamentoDisplay(FormaDePagamentoEnum formaDePagamento)
    {
        var displayAttribute = formaDePagamento.GetType().GetField(formaDePagamento.ToString()).GetCustomAttribute<DisplayAttribute>();

        return displayAttribute?.Name ?? formaDePagamento.ToString();
    }
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close float-end close-alert" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
}
else if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
        <button type="button" class="btn-close float-end close-alert" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
}

<div class="mb-3">
    <form asp-controller="Venda" asp-action="Index" method="get" class="row">
        <div class="col-md-3 mb-1">
            <label for="NomeCliente" class="form-label">Nome Cliente</label>
            <input type="text" class="form-control" id="NomeCliente" name="NomeCliente" value="@ViewData["NomeCliente"]" placeholder="Filtrar por Nome do Cliente">
        </div>
        <div class="col-md-3 mb-1">
            <label for="Valor" class="form-label">Valor</label>
            <input type="text" class="form-control" id="Valor" name="Valor" value="@ViewData["Valor"]" placeholder="Filtrar por Valor">
        </div>
        <div class="col-md-3 mb-1">
            <label for="FormaDePagamento" class="form-label">Forma de pagamento</label>
            <select class="form-select form-control" id="FormaDePagamento" name="FormaDePagamento" value="@ViewData["FormaDePagamento"]">
                <option selected>Selecione</option>
                @if (ViewBag.FormasDePagamento != null)
                {
                    @foreach (var opt in ViewBag.FormasDePagamento)
                    {
                        <option value="@opt.Value">@opt.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
            <label for="Parcelado" class="form-label">Parcelado</label>
            <select class="form-select form-control" id="Parcelado" name="Parcelado" value="@ViewData["Parcelado"]">
                <option value="@null">Selecione</option>
                <option value="@true"> Sim </option>
                <option value="@false"> Não </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="QtdParcela" class="form-label">Qtd. Parcelas</label>
            <input type="number" max="12" class="form-control" id="QtdParcela" name="QtdParcela" value="@ViewData["QtdParcela"]" placeholder="Filtrar por Qtd. Parcelas">
        </div>
        <div class="col-md-3">
            <label for="DataVendaInicio" class="form-label">Dt. Venda - Início</label>
            <input type="date" class="form-control" id="DataVendaInicio" name="DataVendaInicio" value="@ViewData["DataVendaInicio"]">
        </div>
        <div class="col-md-3">
            <label for="DataVendaFim" class="form-label">Dt. Venda - Fim</label>
            <input type="date" class="form-control" id="DataVendaFim" name="DataVendaFim" value="@ViewData["DataVendaFim"]">
        </div>
        <div class="col-md-3 d-flex align-items-md-end end">
            <button type="submit" class="btn btn-primary me-lg-3 w-50"><i class="fa-solid fa-magnifying-glass"></i></button>
            <a asp-controller="Venda" asp-action="Index" class="btn btn-secondary w-100">Limpar</a>
        </div>
    </form>

    <div class="justify-content-between align-items-center mb-3 mt-3">
        <a asp-action="Criar" class="btn btn-primary">Nova venda</a>
    </div>
</div>

<div class="container p-2">

    <table id="vendasTable" class="table text-center shadow table-hover">
        <thead>
            <tr class="">
                <th scope="col"></th>
                <th scope="col" class="text-start">Cliente</th>
                <th scope="col">Produtos</th>
                <th scope="col">Valor</th>
                <th scope="col">Forma de Pagamento</th>
                <th scope="col">Parcelado</th>
                <th scope="col">Qtd. Parcelas</th>
                <th class="align-content-center text-center" scope="col">Data da Venda</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                //int linha = 1;
                @foreach (var venda in Model)
                {
                    <tr>
                        <td class="align-content-center text-center">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Venda" asp-action="Editar" asp-route-id="@venda.Id" class="dropdown-item">Editar</a></li>
                                    <li><a role="button" asp-route-id="@venda.Id" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal-@venda.Id">Apagar</a></li>
                                </ul>
                            </div>
                        </td>
                       <!-- <td class="align-content-center">
                            
                             <input class="form-check-input" type="checkbox" value="false"> 
                        </td> -->
                        <td class="align-content-center text-start">@venda.Cliente.Nome</td>
                        <td class="align-content-center text-center">
                            <a class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalProdutosVenda-@Html.Raw(venda.Id.ToString())">
                                <i class="fa-solid fa-list"></i>
                            </a>

                            <div class="modal fade" id="modalProdutosVenda-@venda.Id" tabindex="-1" aria-labelledby="modalProdutosVendaLabel-@venda.Id" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalProdutosVendaLabel-@venda.Id">Produtos da Venda @venda.Id</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-start mb-5">
                                                <a class="btn btn-primary" asp-controller="Venda" asp-route-vendaId="@venda.Id" asp-action="CriarProdutoVenda"> Adicionar produto</a>
                                            </div>                                            
                                            <table class="table table-bordered ProdutosVendasTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"></th>
                                                        <th>Produto</th>
                                                        <th>Quantidade</th>
                                                        <th>Valor Unidade</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var produto in venda.ProdutoVenda)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                <div class="dropdown">
                                                                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                        <i class="bi bi-pencil-square"></i>
                                                                    </a>
                                                                    <ul class="dropdown-menu">
                                                                        <li>
                                                                            <a asp-action="EditarProdutoVenda" asp-route-vendaId="@venda.Id" asp-route-Id="@produto.Id" class="dropdown-item">Editar</a>
                                                                        </li>
                                                                        <li>
                                                                            <!-- Formulário dentro do link -->
                                                                            <form method="post" asp-action="ApagarProduto" asp-route-vendaId="@venda.Id" asp-route-Id="@produto.Id" class="d-inline">
                                                                                <!-- Link estilizado como botão -->
                                                                                <button type="submit" class="dropdown-item" style="border: none; color: inherit; text-align: left; cursor: pointer;">
                                                                                    Apagar
                                                                                </button>
                                                                            </form>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                            <td>@produto.NomeProduto</td>
                                                            <td>@produto.Quantidade</td>
                                                            <td>@FormataUtils.FormatValor(produto.ValorProduto)</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="align-content-center">@FormataUtils.FormatValor(venda.Valor)</td>
                        <td class="align-content-center text-center">@FormaDePagamentoDisplay(venda.FormaDePagamento)</td>
                        <td class="align-content-center text-center">
                            <i class="@(venda.Parcelado ? "bi bi-hand-thumbs-up-fill text-success" : "bi bi-hand-thumbs-down-fill text-danger")"></i>
                        </td>
                        <td >@venda.QuantidadeDeParcela</td>
                        <td class="align-content-center text-center">@venda.DtInc.ToString("dd/MM/yyyy")</td>
                    </tr>

                    //linha++;
                    @Html.Partial("~/Views/Shared/Modal/ApagarVendaModal.cshtml", venda)
                }
            }
        </tbody>
    </table>

</div>