@model UsuarioModel;

<nav id="sidebar" class="border border-1">
    <div id="sidebar_content">
        <div id="user">
            <img src="@Url.Action("ObterImagem", "Imagem", new { id = Model.Id })" id="user_avatar" alt="Avatar">

            <p id="user_infos">
                <span class="item-description">
                    @Model.Nome
                </span>
                <span class="item-description">
                    @Model.Login
                </span>
            </p>
        </div>

        <ul id="side_items">
            <li class="side-item @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-chart-line"></i>
                    <span class="item-description">Dashboard</span>
                </a>
            </li>

            <li class="side-item @(ViewContext.RouteData.Values["controller"].ToString() == "Venda" ? "active" : "")">
                <a asp-area="" asp-controller="Venda" asp-action="Index">
                    <i class="fa-solid fa-store"></i>
                    <span class="item-description">Vendas</span>
                </a>
            </li>

            <li class="side-item @(ViewContext.RouteData.Values["controller"].ToString() == "Produto" ? "active" : "")">
                <a asp-area="" asp-controller="Produto" asp-action="Index">
                    <i class="fa-solid fa-box"></i>
                    <span class="item-description">Produtos</span>
                </a>
            </li>

            <li class="side-item @(ViewContext.RouteData.Values["controller"].ToString() == "Cliente" ? "active" : "")">
                <a asp-area="" asp-controller="Cliente" asp-action="Index">
                    <i class="fa-solid fa-users"></i>
                    <span class="item-description">Clientes</span>
                </a>
            </li>

            @if (Model.Perfil == EstoqueProdutos.Enums.PerfilEnum.Admin)
            {
                <li class="side-item @(ViewContext.RouteData.Values["controller"].ToString() == "Usuario" ? "active" : "")">
                    <a asp-area="" asp-controller="Usuario" asp-action="Index">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">Usuários</span>
                    </a>
                </li>
            }

            <li class="side-item @(ViewContext.RouteData.Values["controller"].ToString() == "Configuracao" ? "active" : "")">
                <a asp-area="" asp-controller="Configuracao" asp-action="Index">
                    <i class="fa-solid fa-gear"></i>
                    <span class="item-description">Configurações</span>
                </a>
            </li>
        </ul>

        <a class="btn" id="open_btn">
            <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
        </a>
    </div>
         
    <div id="logout">
        <button id="logout_btn" onclick="window.location.href='@Url.Action("Sair", "Login")'">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="item-description">
                Logout
            </span>
        </button>
    </div>
</nav>