@model FornecedorModel;

<div class="container border">

    <h1 class="mb-3">Criar um novo fornecedor</h1>

    <form method="post" asp-controller="Fornecedor" asp-action="Criar" class="row g-3">
        <div class="row mt-3 mb-3">
            <h6> Fornecedor </h6>

            <div class="col-md-3">
                <label asp-for="Nome" for="inputNome" class="form-label">Nome</label>
                <input asp-for="Nome" type="text" class="form-control" id="inputNome">
                @Html.ValidationMessageFor(x => x.Nome)
            </div>
            <div class="col-md-3">
                <label asp-for="Telefone" for="inputTelefone" class="form-label">Telefone</label>
                <input asp-for="Telefone" type="tel" class="form-control" id="inputTelefone">
                @Html.ValidationMessageFor(x => x.Telefone)
            </div>
            <div class="col-md-3">
                <label asp-for="CPF" for="inputCPF" class="form-label">CPF/CNPJ</label>
                <input asp-for="CPF" type="text" class="form-control" id="inputCPF">
            </div>
            <div class="col-md-3">
                <label asp-for="DtUltCompra" for="inputDtUltCompra" class="form-label">DtUltCompra</label>
                <input asp-for="DtUltCompra" type="datetime-local" class="form-control" id="DtUltCompra">
            </div>
        </div>

        <div class="row mt-3">
            <h6> Endereços </h6>

            <div class="col-md-2">
                <label asp-for="CEP" for="inputCPF" class="form-label">CEP</label>
                <input asp-for="CEP" type="text" class="form-control" id="inputCEP" onblur="buscarEnderecoPorCEP()">
                @Html.ValidationMessageFor(x => x.CEP)
            </div>

            <div class="col-md-1">
                <label asp-for="Estado" for="inputEstado" class="form-label">Estado</label>
                <input asp-for="Estado" type="text" class="form-control" id="inputEstado">
                @Html.ValidationMessageFor(x => x.Estado)
            </div>

            <div class="col-md-3">
                <label asp-for="Cidade" for="inputCidade" class="form-label">Cidade</label>
                <input asp-for="Cidade" type="text" class="form-control" id="inputCidade">
                @Html.ValidationMessageFor(x => x.Cidade)
            </div>

            <div class="col-md-3">
                <label asp-for="Bairro" for="inputBairro" class="form-label">Bairro</label>
                <input asp-for="Bairro" type="text" class="form-control" id="inputBairro">
                @Html.ValidationMessageFor(x => x.Bairro)
            </div>

            <div class="col-md-4">
                <label asp-for="Rua" for="inputRua" class="form-label">Rua</label>
                <input asp-for="Rua" type="text" class="form-control" id="inputRua">
                @Html.ValidationMessageFor(x => x.Rua)
            </div>

            <div class="col-md-3">
                <label asp-for="Numero" for="inputNumero" class="form-label">Numero</label>
                <input asp-for="Numero" type="text" class="form-control" id="inputNumero">
                @Html.ValidationMessageFor(x => x.Numero)
            </div>

            <div class="col-md-3">
                <label asp-for="Complemento" for="inputComplemento" class="form-label">Complemento</label>
                <input asp-for="Complemento" type="text" class="form-control" id="inputComplemento">
            </div>

            <div class="col-md-2 align-content-end">
                <input asp-for="ExisteComplemento" class="form-check-input" type="checkbox" id="ExisteComplemento" name="ExisteComplemento">
                <label asp-for="ExisteComplemento" class="form-check-label">
                    Não tem
                </label>
            </div>

        </div>

        <div class="d-flex gap-5 mb-3">
            <button type="submit" class="btn btn-primary w-50">Criar</button>
            <a asp-controller="Fornecedor" asp-action="Index" class="btn btn-secondary w-50"> Voltar </a>
        </div>

    </form>

</div>

<script>
    async function buscarEnderecoPorCEP() {
        const cep = document.getElementById("inputCEP").value.replace(/\D/g, '');   

        try {
            const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
            if (!response.ok) throw new Error("Erro ao buscar CEP");
            
            const data = await response.json();

            // Preenche os campos com os dados retornados
            document.getElementById("inputEstado").value = data.uf || "";
            document.getElementById("inputCidade").value = data.localidade || "";
            document.getElementById("inputBairro").value = data.bairro || "";
            document.getElementById("inputRua").value = data.logradouro || "";
        } catch (error) {
            console.error("Erro ao buscar o endereço:", error);
        }
    }
</script>