@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using EstoqueProdutos.Enums
@using EstoqueProdutos.Utils;

@model List<FornecedorModel>;

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close float-end close-alert" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
}
else if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
        <button type="button" class="btn-close float-end close-alert" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
}

<div class="mb-3">
    <form asp-controller="Fornecedor" asp-action="Index" method="get" class="row">
        <div class="col-md-3">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="Nome" name="Nome" value="@ViewData["Nome"]" placeholder="Filtrar por Nome">
        </div>
        <div class="col-md-3">
            <label for="Login" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="Telefone" name="Telefone" value="@ViewData["Telefone"]" placeholder="Filtrar por Telefone">
        </div>
        <div class="col-md-3">
            <label for="CNPJ" class="form-label">CPF/CNPJ</label>
            <input type="text" class="form-control" id="CPF" name="CPF" value="@ViewData["CPF"]" placeholder="Filtrar por CPF">
        </div>
        <div class="col-md-3">
            <label for="DataUltimaCompraInicio" class="form-label">Dt. Ult. Compra - Início</label>
            <input type="date" class="form-control" id="DataUltimaCompraInicio" name="DataUltimaCompraInicio" value="@ViewData["DataUltimaCompraInicio"]">
        </div>
        <div class="col-md-3">
            <label for="DataUltimaCompraFim" class="form-label">Dt. Ult. Compra - Fim</label>
            <input type="date" class="form-control" id="DataUltimaCompraFim" name="DataUltimaCompraFim" value="@ViewData["DataUltimaCompraFim"]">
        </div>
        <div class="col-md-3 d-flex align-items-md-end end">
            <button type="submit" class="btn btn-primary me-lg-3 w-50"><i class="fa-solid fa-magnifying-glass"></i></button>
            <a asp-controller="Fornecedor" asp-action="Index" class="btn btn-secondary w-100">Limpar</a>
        </div>
    </form>

    <div class="justify-content-between align-items-center mb-2 mt-2">
        <a asp-controller="Fornecedor" asp-action="Criar" class="btn btn-primary">Novo fornecedor</a>
    </div>
</div>

<div class="container p-2">

    <table id="fornecedorTable" class="table text-center shadow table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-start">Nome</th>
                <th scope="col" class="text-start">Telefone</th>
                <th scope="col" class="text-start">CPF/CNPJ</th>
                <th scope="col">Bom pagador</th>
                <th class="align-content-center text-center" scope="col">Dt. Ult. Compra</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var fornecedor in Model)
                {
                    <tr>
                        <td class="align-content-center text-center">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Fornecedor" asp-action="Editar" asp-route-id="@fornecedor.Id" class="dropdown-item">Editar</a></li>
                                    <li><a asp-controller="Fornecedor" asp-action="Enderecos" asp-route-id="@fornecedor.Id" class="dropdown-item">Endereços</a></li>
                                    <li><a role="button" asp-route-id="@fornecedor.Id" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal-@fornecedor.Id">Apagar</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="align-content-center text-start">@fornecedor.Nome</td>
                        <td class="align-content-center text-start">@FormataUtils.FormatTelefone(fornecedor.Telefone)</td>
                        <td class="align-content-center text-start">@FormataUtils.FormataCPFouCNPJ(fornecedor.CPF)</td>
                        <td class="align-content-center text-center">
                            @(fornecedor.DtUltCompra?.ToString("dd/MM/yyyy") ?? "Data não disponível")
                        </td>
                    </tr>

                    //linha++;
                    @Html.Partial("~/Views/Shared/Modal/ApagarFornecedorModal.cshtml", fornecedor)
                }
            }
        </tbody>
    </table>

</div>